* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main page */
/* title */
.title-section {
    height: 800px;
    display: flex;
    margin: auto;
}
.title-section p {
    width: 350px;
    height: 160px;
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    line-height: 32px;
    position: absolute;
    margin-top: 190px;
    margin-left: 925px;
}

#mask {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 96px;
    line-height: 88px;
    margin-top: 190px;
    margin-left: 165px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    clip-path: inset(0 162px 0 0);
    z-index: 1;
}

#unmask {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 96px;
    line-height: 88px;
    margin-top: 190px;
    margin-left: 165px;
    text-transform: uppercase;
    color: #151515;
    position: absolute;
}

.title-section img {
    width: 540px;
    height: 800px;
}
.title-section svg {
    color: #151515;
}


#btn-loc { 
    display: flex;
    width: 260px;
    height: 72px;
    position: relative;
    top: 414px;
    left: -65px;
    color: white;
    justify-content: end;
}

#btn-left-side {
    background-color: #151515;
    display: flex;
    width: 204px;
    height: 72px;
    justify-content: center;
}

#btn-text {
    margin: 20px 0 0 200px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    letter-spacing: 3.63636px;
    font-size: 20px;
    height: auto;
}

#btn-right-side {
    display: flex;
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    justify-content: center;
    align-items: center;
}

a:hover #btn-right-side {
    background-color: #151515;
}

a:hover #btn-left-side {
    background-color: #D5966C;
}

/* gallery */
.gallery-section {
    width: 1110px;
    height: 1150px;
    margin: 180px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery-section h2{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 60px;
    line-height: 1;
    text-transform: uppercase;
    color: #151515;
}

.gallery-section p {
    color: #444;
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    font-style: normal;
    line-height: 1.45;
}

.gallery-section-1 {
    width: 1110px;
    height: 400px;
    display: flex;
}

.gallery-section-1-text {
    margin: 60px 125px 90px 0;
}

.gallery-section-1-text p {
    margin-top: 32px;
}

.gallery-section-1 img {
    width: 635px;
    height: 400px;
}

.gallery-section-2 {
    width: 1110px;
    height: 720px;
    display: flex;
    justify-content: space-between;
}
.gallery-section-2 .left-image {
    width: 635px;
    height: 720px;
}

.gallery-section-2b {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.gallery-section-2b img {
    width: 445px;
    height: 313px; 
}

.gallery-section-2b-text {
    width: 445px;
    height: 377px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-section-2b-text-container {
    width: 350px;
    height: 248px;
    /* background-color: grey; */
}

.gallery-section-2b-text h2 {
    color: #fff;
}

.gallery-section-2b-text p {
    color: #fff;
    margin-top: 32px;
}

/* footer */
#loc-footer {
    color: #151515;
    height: 244px;
    background-color: #D5966C;
}

#main-footer svg:hover {
    color: #D5966C;
}

#loc-footer svg:hover {
    color: #fff;
}
.footer-main {
    color: #fff;
    width: 1440px;
    height: 244px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-main .footer-container {
    width: 1110px;
    display: flex;
    justify-content: space-between;
}
.footer-main h3 {
    width: 160px;
    height: 58px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.footer-main p {
    width: 430px;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin-right: 100px;
}

.footer-svg-container {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* location page  */
#map-section {
    display: flex;
    width: 1440px;
    height: 600px;
}

.map {
    width: 100%;
    height: 600px;
}

#btn-home {
    text-decoration: none;
    display: flex;
    width: 260px;
    height: 72px;
    margin-left: 156px;
    position: absolute;
    color: white;
    justify-content: end; 
    background-color: aqua; 
}

#btn-left-side-loc {
    display: flex;
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    justify-content: center;
    align-items: center;
}

#btn-right-side-loc {
    background-color: #151515;
    display: flex;
    width: 204px;
    height: 72px;
    justify-content: center;
}

#btn-text-loc {
    margin: 22px 0 0 0px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    letter-spacing: 3.63636px;
    font-size: 20px;
    height: auto;
}

a:hover #btn-right-side-loc {
    background-color: #D5966C;
}

a:hover #btn-left-side-loc {
    background-color: #151515;
}

#location-info {
    display: flex;
    width: 1440px;
    height: 548px;
    background-color: #151515;
    justify-content: center;
    align-items: center;
    
}

#location-info h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 70px;
    line-height: 70px;
    color: #fff;
    text-transform: uppercase;
    width: 350px;
    height: 140px;
}

.location-info-container {
    display: flex;
    width: 1110px;
    height: 316px;
    justify-content: space-between;
}

.text-right {
    display: flex;
    width: 540px;
    flex-direction: column;
}

#location-info .main-text {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    color: #D5966C;
    margin-bottom: 24px;
}

.text-right p {
    font-family: 'Outfit', sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 32px;
}
